<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mislav Vuletić - Portfolio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/brickBackground.css}"/>
    <link rel="stylesheet" type="text/scss" th:href="@{/css/header.scss}"/>
    <link>
</head>
<body>
<div class="header">
    <h1 class="header_logo">Resizing Fixed Header</h1>
</div>
<div class="offset">
    <p>Scroll down to initiate resizing of the page header.</p>
</div>
<script type="text/javascript" src="/js/header.js"></script>
</body>
</html>